.logo{
	margin: 1% 1% 1% 1%;
	width:167px;
	display:inline;
}

.navegacion{
	display:-webkit-inline-box;
	align-content:centre;
}

.icono{
	padding: 5px 5px;
	display:inline;    
}

.boton-main{
	margin: 1% 5% 1% 5%;
}

.boton-login{
	border:none;
}

.salir{
	display:inline;
}

.info{
	vrtical-align:middle;
}

.menu-principal{
	margin-top:3%;
	margin-bottom:3%;
}
.precio-menu{
	width:45%;
	margin:2px 2px 2px 2px;
	display:inline;
}

.centrado{
    margin-top:5px;
    border: 1px solid #73AD21;
    padding: 5px;
    margin-left:auto;
    margin-right:auto;
    
}

.barra-lat{
	width:15%;
}

.seguido{
	display:inline;
}