.logo{
	margin: 1% 1% 1% 1%;
	width:167px;
	display:inline;
}

.navegacion{
	display:-webkit-inline-box;
	align-content:centre;
}

.icono{
	padding: 5px 5px;
	display:inline;    
}

.boton-main{
	margin: 1% 5% 1% 5%;
}

.boton-login{
	border:none;
}

.salir{
	display:inline;
}

.info{
	vrtical-align:middle;
}

.menu-principal{
	margin-top:58px;
	margin-bottom:3%;
}
.precio-menu{
	width:45%;
	margin:2px 2px 2px 2px;
	display:inline;
}

.centrado{
    margin-top:7px;   
}

.barra-lat{
	width:15%;
	float:left;
	margin-right:10px;
}

.seguido{
	display:inline;
}

.elemento-rojo{
	color:white;
	background-color: #F44336
}

.bordeado {
	background-color: white;
	border-style:solid;
	border-color:#909090;
	border-width: 1px;
}

.desplegable > li {
	list-style-type: none;
	
}

.desplegable li a {
	text-decoration: none;
	padding: 10px 10px;
	display: block;
}

.desplegable li a:hover {
	background-image: -webkit-linear-gradient(top, #dbdbdb 0, #e2e2e2 100%);
}

.desplegable li ul {
	display: none;
	position:absolute;
	min-width: 140px;
}

.desplegable li:hover>ul {
	display: block;
}

.letras-grises{
	color: #666;
	padding: 10px 10px;
}

.destacado{
	text-transform: capitalize;
	font-size: 120%;
	margin:5px 5px 0px 5px;
	font-weight: bold;
}
